@font-face {
    /* font-family es la propiedad que le asigna un nombre a la nueva fuente.
       El nombre es a gusto de cada quien. Por convencion, se pone el nombre
       real, en este caso, Roboto.
    */
    font-family: Roboto;
    /* La propiedad src define la ubicacion de la fuente a utilizar. Sea
       cual sea que utilices, prueba primero el archivo que tenga en su
       nombre Regular */
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Godzilla;
    src: url('../fonts/Godzilla.ttf');
}

body {
    background-color: black;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

img#logo {
    width: 200px;
}

.t-50 {
    width: 50%;
}

header {
    display: flex;
}

nav {
    /* Las medidas de width pueden ser:
        en pixeles: 100px
        en porcentajes: 100%
        con relacion al tamaño de la pantalla: 100vh */
    width: 100%;
}

ul {
    /* Esta propiedad modifica el adorno del lado izquierdo de las listas.
    Si ponemos como valor none, obligaremos a la lista a no tener adornos*/
    list-style: none;

    /* Estas dos propiedades serán explicadas más adelante */
    display: flex; 
    flex-direction: row;

    /* Le indicamos que se posicione a la derecha, equivalente al alinear
    a la derecha de Microsoft Word o similares: ; */
    float: right;

    font-family: Godzilla;
} 

a {
    color: white;
    /* Modificamos el decorado de un texto, si tiene el valor none, le estamos
    indicando que no tendra decoraciones */
    text-decoration: none;
    /* Le agregamos un margen a la izquierda de 10 pixeles */
    margin-left: 10px;
}